server:
  listen: 8080
  workers: 4

  upstreams:
    - id: node1
      url: http://localhost:8001

    - id: node2
      url: http://localhost:8002

  headers:
    - key: x-forwarded-for
      value: "$ip"

    - key: Authorization
      value: "Bearer $token"

  rules:
    - path: /
      upstreams:
        - node1
        - node2

    - path: /admin
      upstreams:
        - node2
